---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {% include header.html %}

    <main>
        <h2>Blog</h2>
        <p>Welcome to my blog!</p>

        <article class="blog-preview">
            <p><a href="le-matcha-blogpost.html">My First Blog Post: Le Matcha Review</p></a>
            <img src="images/IMG_0348.jpeg" alt="matcha powders for sale" class="blog-image-preview">
        </article>
    </main>

    {% include footer.html %}
</body>
</html>
