<header>
  <div style="display: inline-flex; align-items: center; gap: 12px;">
    <svg class="header-spin-logo" viewBox="0 0 100 100" xmlns="http://w3.org" style="width: 28px; height: 28px;">
      <!--<circle cx="50" cy="50" r="40" stroke="#bbff99" stroke-width="12" fill="none" stroke-dasharray="180 70" stroke-linecap="round"/>-->
      <!--<path d="M25,25 Q50,75 75,25" stroke="#A7F3D0" stroke-width="16" stroke-linecap="round" fill="none"/>-->
      <g stroke="#A7F3D0" stroke-width="14" stroke-linecap="round">
        <line x1="50" y1="20" x2="50" y2="80" />
        <line x1="20" y1="50" x2="80" y2="50" />
      </g>
    </svg>
    
    <h1><i>yael.pi.eats</i></h1>

    <svg class="header-spin-logo" viewBox="0 0 100 100" xmlns="http://w3.org" style="width: 28px; height: 28px;">
      <!--<circle cx="50" cy="50" r="40" stroke="#bbff99" stroke-width="12" fill="none" stroke-dasharray="180 70" stroke-linecap="round"/>-->
       <!--<path d="M25,25 Q50,75 75,25" stroke="#A7F3D0" stroke-width="16" stroke-linecap="round" fill="none"/>-->
      <g stroke="#A7F3D0" stroke-width="14" stroke-linecap="round">
        <line x1="50" y1="20" x2="50" y2="80" />
        <line x1="20" y1="50" x2="80" y2="50" />
      </g>
    </svg>

  </div>
  <nav>
      <a href="index.html">Home</a> |
      <a href="about.html">About</a> |
      <a href="blog.html">Blog</a>
  </nav>
</header>

