<header>
  <div style="display: inline-flex; align-items: center; gap: 12px;">
  <svg class="header-spin-logo" viewBox="0 0 100 100" xmlns="http://w3.org" style="width: 28px; height: 28px;">
    <circle cx="50" cy="50" r="40" stroke="#bbff99" stroke-width="12" fill="none" stroke-dasharray="180 70" stroke-linecap="round"/>
    </svg>
    
    <h1><i>yael.pi.eats</i></h1>

    <svg class="header-spin-logo" viewBox="0 0 100 100" xmlns="http://w3.org" style="width: 28px; height: 28px;">
    <circle cx="50" cy="50" r="40" stroke="#bbff99" stroke-width="12" fill="none" stroke-dasharray="180 70" stroke-linecap="round"/>
    </svg>

  </div>
  <nav>
      <a href="index.html">Home</a> |
      <a href="about.html">About</a> |
      <a href="blog.html">Blog</a>
  </nav>
</header>

